<% layout("./layouts/index.ejs") %>
<style>
  body {
    background-image: url("https://images.unsplash.com/photo-1596040033229-a9821ebd058d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
  }
</style>
<form action="/login" method="post">
  <h1>Login Menu Scanner</h1>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">User Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        name="user_name"
        class="form-control"
        id="inputEmail3"
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
        type="password"
        name="password"
        class="form-control"
        id="inputPassword3"
      />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
